@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root{
    --yellow: #f8d02d;
    --dark-yellow: #eebf04;
    --blue: #468acf;
    --drak-blue: #1c78d4;
    --rose: #ff4e68;
    --rose-hover: #f33f5a;
    --black: #444;
    --border: 0.1rem solid rgba(0,0,0,0.1);
    --border-hover: 0.1rem solid var(--black);
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
}
html{
    font-size: 62.5%;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    transition: all .3s linear;
    transition: width none;
}
.btn{
    display: inline-block;
    padding: 0.9rem 1rem;
    border-radius: 0.5rem;
    color: #fff;
    background-color: var(--yellow);
    font-size: 2rem;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--dark-yellow);
    color: #fff;
}
.btn-index{
    padding:.7rem 3rem;
    color:#fff;
    background:var(--yellow);
    border-radius: 5rem;
    margin-top: 1rem;
}
.btn-index:hover{
    color: #fff;
    background-color: var(--dark-yellow);
}
.btn-canel{
    background-color: var(--rose);
}
.btn-canel:hover{
    background-color: var(--rose-hover);
}

/* LOGIN FORM */
.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.8);
    position: fixed;
    top: 0;
    z-index: 101;
    height: 100%;
    width: 100%;
}
.login{
    right: -105%;
}
.login-form-container.active{
    right: 0;
}
.login-form-container form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    margin: 2rem;
}
.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}
.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}
.login-form-container form .box{
    width: 100%;
    margin: 0.7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}
.login-form-container form .checkbox{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;
}
.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}
.login-form-container form .btn-sign-in{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}
.login-form-container form  p{
    padding-top: 0.8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}
.login-form-container form p a{
    color: var(--yellow);
    text-decoration: underline;
}
.login-form-container  #close-login-btn{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 3rem;
    color: var(--black);
    cursor: pointer;
}
/*SIGN UP FORM*/
.login-form-container form .sign-up{
    display: flex;
    justify-content: space-between;
}
.login-form-container form .sign-up .btn-sign-up{
    text-align: center;
    width: 47%;
    margin: 1.5rem 0;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center; /*căn thẻ p ra giữa*/
    justify-content: center; /*căn ra giữa màn*/
    flex-flow: column; /*văn bản theo chiều dọc*/
    background:url(../image/bg_index.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    
}
.home h1{
    font-size: 6rem;
    color:#555;
}
.home p{
    font-size: 1.9rem;
    color:#999;
    padding:1rem 0;
    width:70rem;
}
/* SEARCH */

/* Form sinh viên*/
#list{ 
    display: none;
}
.menu {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #027581;
    z-index: 100;
    padding: 10px;
    overflow-y: auto; /*trục dọc*/
    transition: width 500ms;
}
.menu i{
    font-size: 20px;
}
.menu-header{
    display: flex; /*sử dụng flexbox và nằm trên cùng 1 hàng*/
    justify-content: space-between; /*đẩy sang 2 bên*/
    align-items: center; /*căn giữa*/
    height: 60px;
    padding: 0rem 1rem;
}
.menu-main{
    padding: 1rem;
}
.menu ul {
    list-style: none;
}
.menu li {
    margin-bottom: 1.2rem;
}
.menu li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}
.menu span:last-child{
    padding-left: 0.6rem;
}

#list:checked ~ .menu{
    width: 70px;
}
#list:checked ~ .menu .menu-header h3 span,
#list:checked ~ .menu li span:last-child {
    display: none;
}
#list:checked ~ .menu .menu-header,
#list:checked ~ .menu li {
    display: flex;
    justify-content: center;
}
#list:checked ~ .main-content{ 
    margin-left: 70px; /*phần main kéo theo*/
}
#list:checked ~ .main-content .header{
    left: 60px;  /*Phần thanh tìm kiếm*/
}
.main-content{
    position: relative;
    margin-left: 240px; /*độ rộng thanh menu là 240px*/
    transition: margin-left 500ms;
    width: 100%;
}
.main-content .user-imge{
    width: 30px;
    border-radius: 100%;
}
.header{
    /* background-color: green; */
    padding: 15px;
    width: 100%;
    height: 90px;
    border-bottom: thin;
    background-color: white;
}
.main-content .box2 {
    justify-content: end;
    display: flex;
}
.main-content .box2 i{
    font-size: 20px;
    margin: 10px;
}
.main-content .icon-search{
    font-size: 20px;
    padding: 5px;
}
.main-content .search{
    height: 30px;
    border-radius: 5px;
    margin-right: 20px;
    border-style: groove;
    width: 300px;
}
.button-search{
    background-color: #fff;
    color: black;
    height: 30px;
    font-size: 10px;
}
.subject{
    padding: 30px;
}
.subject-click img {
    width: 250px;
    margin-top: 25px;
    margin-left: 25px;
}
.subject-click{
    text-decoration: none;
    color: var(--rose);    
}
.CN-Web{
    border: lightgray;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 350px;
    height: 250px;
}
.CN-Web h4{
    margin-left: 25px;
}