:root{
    --gradient:linear-gradient(90deg, #f1c40f, #f39c12);
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    border:none; outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:#f39c12;
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.5rem;
}

html::-webkit-scrollbar-track{
    background:#333;
}

html::-webkit-scrollbar-thumb{
    background:linear-gradient(#f1c40f, #f39c12);
}

section{
    min-height: 100vh;
    padding:1rem 7%;
    padding-top:6rem;
}

.btn{
    padding:.7rem 3rem;
    font-size: 2rem;
    color:#fff;
    background:var(--gradient);
    border-radius: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn::before{
    content: '';
    position: absolute;
    top:-1rem; left:-100%;
    background:#fff9;
    height:150%;
    width:20%;
    transform: rotate(25deg);
    z-index: -1;
}

.btn:hover::before{
    transition: .3s linear;
    left: 120%;
}

.heading{
    color:#444;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
}



.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background:url(../image/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}

.home h1{
    font-size: 6rem;
    color:#666;
}

.home p{
    font-size: 1.9rem;
    color:#999;
    padding:1rem 0;
    width:70rem;
}



@keyframes animate{

    0%{
        background-position-x: 0rem;
    }

    100%{
        background-position-x: 100rem;
    }

}



/* media queries  */

@media (max-width:768px){

    html{
        font-size: 55%;
    }

    

    .home h1{
        font-size: 4rem;
    }

    .home p{
        width: auto;
    }

    

}

@media (max-width:500px){

    html{
        font-size: 50%;
    }

    .contact .row form .box{
        width:100%;
    }

}