@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root{
    --blue: #468acf;
    --drak-blue: #1c78d4;
    --rose: #ff4e68;
    --rose-hover: #f33f5a;
    --black: #444;
    --border: 0.1rem solid rgba(0,0,0,0.1);
    --border-hover: 0.1rem solid var(--black);
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
    --main-color: #027581;
    --main-color-hover: #1a7f8a;
    --color-dark: #1D2231;
    --text-gray: #8390A2;
    --border: 0.1rem solid rgba(0,0,0,0.1);
    --border-hover: 0.1rem solid var(--black);
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    transition: all .3s linear;
    transition: width none;
    list-style: none;
}
html{
    font-size: 62.5%;
}

/*DASHBOARD*/
#sidebar-toggle{ /*dòng 10*/
    display: none;
}
.sidebar{ /*Thanh menu bên trái*/
    height: 100%;
    width: 24rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: var(--main-color);
    color: #fff;
    /* padding: 1.5rem; */
    overflow-y: auto; /*trục dọc*/
    transition: width 500ms;
}
.sidebar-header{ /*Cái liên kết và Easywire và cái dấu 3 ghạch*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-top: 1rem;

}
.sidebar .sidebar-header .brand span{
    font-size: 2rem;
}
.sidebar .sidebar-header label{
    font-size: 2rem;
}
.sidebar .sidebar-header label:hover{
    cursor: pointer;
}
.sidebar a{
    color: #fff;
    font-size: 1.5rem;
}
.sidebar span:last-child{ /*Chữ easywrie*/
    padding-left: 1rem;
}
/*51 đến 57 là kéo ra kéo vào*/
#sidebar-toggle:checked ~ .sidebar{
    width: 6rem;
}
#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
    display: none;
}
#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
    display: flex;
    justify-content: center;
}
#sidebar-toggle:checked ~ .main-content{ 
    margin-left: 6rem; /*phần main kéo theo*/
}
#sidebar-toggle:checked ~ .main-content header{
    left: 6rem;  /*Phần thanh tìm kiếm*/
}
.main-content{
    position: relative;
    margin-left: 24rem; /*độ rộng thanh menu là 240px*/
    transition: margin-left 500ms;
}
.sidebar .sidebar-menu ul li a span{
    font-size: 1.7rem;
}
.sidebar .sidebar-menu ul li{
    padding: 2rem;
}
.sidebar .sidebar-menu ul li:hover{
    background-color: var(--main-color-hover);
    color: #fff;
    cursor: pointer;
}

/* PHẦN HEADER */
header{
    margin-left: 24rem;
    display: flex;
    justify-content: space-between;
}
header .search-from{
    width: 40rem;
    height: 4rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    margin: 1rem 0 0 25rem;
}
header .search-from input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}
header .search-from label{
    font-size: 2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
header .search-from label:hover{
    color: var(--main-color);
}
header .user-img{
    height: 40px;
    width: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../image/user_1.jpg);
    border-radius: 50%;
    margin: 1rem 2rem 0 0;
}
header .user-img:hover{
    cursor: pointer;
}